# Ambientes virtuais
venv/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Dados (ficheiros grandes não vão para o git)
data/
*.csv

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/